  /*
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*/
body {
    background-image: linear-gradient(#f0cffa, #f4f1f5);
}

.row.affix {
    /* top: -50px;  */
    width: 100vw;
    border-bottom: 1vh solid rgb(0, 0, 0);
}

container#brend_sort_odabir {
    display: flex;
    flex-direction: column;

}

input#search-input {
    width: 100%;
    height: auto;
    max-width: 100%;
}

input#search-input,
.col-sm-1 button {
    margin-top: 1vh;
}

select#brend_odabir,
select#sort_odabir {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
}
select#brend_odabir{
    width: fit-content;
}

select#quantity_odabir {
    width: 50%;
}

div input[name="gender"],
div input[name="tester"] {
    flex-direction: row;
}



svg {
    padding: 1px 5px;
}

.btn.btn-secondary.dropdown-toggle {
    color: #df73ff;
    padding-right: 15px;
}

.glyphicon.glyphicon-shopping-cart {
    display: flex;
    justify-content: space-evenly;
}

/* div.nav.navbar-nav.navbar-right{
}
.collapse.navbar-collapse{
} */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

}

.row>[class*='row-'] {
    display: flex;
    flex-direction: column;
}

.col-sm-2.logo {

    width: 30vw;
}

#logo-small {
    min-width: 130px;
    min-height: 250px;
    max-height: 50vh;
}

.row:first-child {
    background-color: lavender;
}

#header.container-fluid .col-sm-1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
}

.row:nth-child(2) .col-sm-1:nth-child(3) {
    justify-content: start;
    align-items: flex-start;
}

.col-sm-2#social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.col-sm-3 {
    display: flex;
    align-items: center;
}

.col-sm-4 {
    display: flex;
    align-items: center;
}



.col-sm-4#benefits {
    display: flex;
    flex-direction: column;
}

.col-sm-5#input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.col-sm-5#input>* {
    margin-bottom: 1.5vh;
}


.glyphicon glyphicon-shopping-ok {
    max-height: 10vh;
}

/* .col-sm-3 p{
   margin-bottom: 0;
} */
/* #logo-small .img-responsive{
    max-height: 85px;
} */
div#submit.col-sm-1,.col-sm-5 .col-sm-6 {
    padding-left: 0px;
}

div#parfem-submit.row{
    display: flex;  
    padding-left: 15px;
}
div.col-sm-5 .row{
    margin-bottom: 10px;
}
div.col-sm-5 div.row div.col-sm-2{
    margin-right: 5px;
}

.container-fluid {
    color: #6b6f75;

}

@media only screen and (max-width: 880px) {
    div.col-sm-5 div.row div.col-sm-2{
        padding-left: 10px;
        margin-right: 10px;
    }
    .col-sm-4#benefits {
        display: none;
    }

    .nav.navbar-nav.navbar-right {
        margin-top: 0;
    }

    a.btn.btn-secondary.dropdown-toggle {
        border: 3;
    }

    .collapse {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container-fluid.header {
        height: 80%;
    }

    .col-sm-5#input {
        align-items: center;
    }

    div#submit.col-sm-1 {
        padding-left: 15px;
    }
    .container-fluid#header+.row {
        align-items: center;
        flex-direction: column;
    }

    container#quantity {
        display: flex;
        flex-direction: row;
    }

    container#brend_sort_odabir {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    select#brend_odabir,
    select#sort_odabir {
        width: fit-content;
        margin: 0 15px;
    }
    @media only screen and (max-width: 651px) {
        div#perfume-post.container+div.col-sm-5{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
    }
}

@media only screen and (max-width: 510px) {

    div.col-sm-5 div.row div.col-sm-2{
        padding-left: 5px;
        margin-right: 15px;
    }
    .col-sm-4#benefits {
        display: none;
    }

    .container-fluid#header {
        height: 80%;
    }

    .col-sm-2 {
        width: 30vw;

    }

    .col-sm-2 .img-responsive#logo-small {
        min-height: 20vh;
        max-height: 30vh;
    }

    .col-sm-2#social {
        display: none;
    }

    .container-fluid#header+.row {
        align-items: center;
        flex-direction: column;
    }


}